# Ignorar entorno virtual
.venv/
venv310/
# Archivos temporales
__pycache__/
*.pyc

# Configuración de sistema o editor
.vscode/
*.log
dist/
build/
logs/
config_nabek_lo_blanco.txt
debug/
rescate/
codigo_quitado.txt
config_jj_perez.txt
config_lo_blanco.txt
config_gran_avenida.txt
Versiones.py
razones_sociales.json
razones_sociales.txt
Datos.py
app copy.py
scanner copy.py